// @import 'libs/bootstrap-reboot.min';

// @import url('https://fonts.googleapis.com/css?family=Roboto:100,regular,500,700,900&display=swap');

@import 'base/variables';
@import 'base/mixins';

body {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	// display: flex;
	padding-left: 50px;
	margin-right: 20px;
}

@import './blocks/header';

span {
	font-size: 20px;
	@media (max-width: 767px) {
		font-size: 15px;
	}
}

div {
	color: $main-color;
	font-size: 30px;
	@media (max-width: 767px) {
		font-size: 20px;
	}
}
