.header {
	padding-top: 50px;
	img {
		max-width: 100%;
		object-fit: cover;
	}
	h1 {
		color: $main-color;
	}

	.sphera-img {
		width: 500px;
		height: 500px;
		margin: 0 auto;
		img {
			max-width: 100%;
			object-fit: cover;
		}
	}
}
